body {
    font-family: 'Georgia', serif;
}

h1 {
    text-align: center;
    font-weight: 400;
    font-size: 3em;
}

main {
    margin: 0 auto;
    margin-top: 50px;
    width: 95%;
}

.viz-banner {
    width: inherit;
    margin: 0 auto;
    margin-bottom: 2em;
    padding: 0.1em 1em;
    min-height: 4em;
    background-color: rgb(57, 43, 33);
    font-size: 2em;
}

a {
    width: 55%;
    color: rgb(227, 227, 227);
    text-align: right;
    text-decoration: none;
}
